@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rency";
    src: url("./public/fonts/rency.woff2") format("woff");
}

@font-face {
    font-family: "PPEditorial";
    src: url("./public/fonts/PPEditorialNew-Light.ttf") format("truetype");
}
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

body {
    font-family: "Rency";
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.nano {
    font-family: "PPEditorial";
}

.rency {
    font-family: "Rency";
}
